/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url(fonts/HelveticaNeueLTStd-Bd.otf);
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url(fonts/HelveticaNeueLTStd-BdIt.otf);
    font-weight:bold;
    font-style:italic;
}
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url(fonts/HelveticaNeueLTStd-It.otf);
    font-weight:normal;
    font-style:italic;
}
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url(fonts/HelveticaNeueLTStd-Lt.otf);
    font-weight:light;
    font-style:normal;
}
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url(fonts/HelveticaNeueLTStd-LtIt.otf);
    font-weight:light;
    font-style:italic;
}
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url(fonts/HelveticaNeueLTStd-Roman.otf);
    font-weight:normal;
    font-style:normal;
}
body {
    font-size:0.7rem;
}
p {
    font-size:0.7rem;
}
/*custom*/
* {font-family: Helvetica Neue LT Std}
.btn {font-size:0.8rem;}
.no-padding {padding:0px;}
#mainnav {padding-left:45px;}
#navbarText2 {text-transform: uppercase;}
.nav-link {
    display: flex !important;
    padding: 7px 5rem;
    align-items: center !important;
    justify-content: center !important;
}
.navbar {
    .brand_bar {
        padding: 3px 10px;
    }
    .navigation {padding:0px;}
}
.btn-secondary {
    color: #fff;
    background-color: #a5007d;
    border-color: #a5007d;
}
.btn-secondary.project {
    color: #fff;
    background-color: #00afd7;
    border-color: #00afd7;
}
.btn-success {
    color:#fff;
    background-color:#82be00;
    border-color:#82be00;
}
.btn-outline-success {
    color:#82be00;
    background-color: #fff;
    border-color: #82be00;
}
.btn-outline-form {
    color:#a5007d;
    background-color: #fff;
    border-color: #a5007d;
}
.btn_lsg {
    border-radius: 25px;
    margin:5px 0px;
    float: right;
    padding-left:20px;
    padding-right:20px;
    text-transform: uppercase;
}
.form {
    margin-right:20px;
    float:left;
    width:120px;
}
.wide {width:100%;}
.space_top {margin-top:15px;}
.sidebar_left {
    margin-top:22px;
    p {
        font-size:0.6rem;
        text-align:center;
    }
    span {
        font-size:0.6rem;
    }
}
#ModalDetails {
    .modal-body {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: left;
        p {font-weight:bold;}
    }
    .box {
        width:15px;
        height:15px;
        background-color:#82be00;
        float: left;
        margin-right:10px;
    }
    .modal-footer {
        border-top:1px solid #ececed;
        .item_icon {
            margin:0 auto;
        }
        &:hover {
            background-color:#ececed;
            cursor:pointer;
        }
    }
}

.icons {
    text-align: center;
}
#ModalAttachments {
    span {vertical-align: middle;}
    .modal-body {
        text-align: left;
    }
    .modal-footer {
        border-top:1px solid #ececed;
        justify-content: left;
        .item_icon {
            margin:0 auto;
        }
        &:hover {
            background-color:#ececed;
            cursor:pointer;
        }
    }
}
p.ModalDetails {
    text-transform: uppercase;
    padding-top:15px;
    font-weight:normal !important;
    color:#959595;
    span {border-bottom: 1px solid #6f6f6e;}
}
th.table_header {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    vertical-align: middle !important;
    text-transform: uppercase;
    text-align: center;
    width:20px;
    p {
        border-bottom:1px solid #c5c6c6;
        padding-bottom: 5px;
    }
    div#basics {
        width: 110px;
        position: absolute;
        top: 73px;
        right: 0px;
        left: -20px;
    }
    div#who {
        width: 80px;
        position: absolute;
        top: 40px;
        right: 0px;
        left: -5px;
    }
    div#details {
        width: 100px;
        position: absolute;
        top: 61px;
        right: 0px;
        left: -15px;
    }
}

.table_header.active p, th.active{
        color:#a5007d;
    }
.check_icon {
    width:20px;
    margin: 0px 8px;
}
.table.menu {
    border-right: 1px solid #c5c6c6;
}
#upload_table {
    span,p {color: #c5c6c6;}
    .active {
        span {
            font-weight: bold;
            color: #a5007d;
        }
        p {color:#a5007d;}
        hr {
            margin-top:10px;
            margin-bottom: 0px;
        }
    }
  .tag_line {

  }
  .tag {
    background: #fafafa;
    float: left;
  }
}
.create_form {
    h6 {
        color:#a5007d;
        text-transform: uppercase;
    }
    input {
        border:none;
        border-radius:none !important;
        background-color: transparent;
        border-bottom:1px solid #c5c6c6;
    }
    .first {
        color:#c5c6c6;
        background-color: #fff;
        border-color: #c5c6c6;
    }
    .last {
        color:#c5c6c6;
        background-color: #fff;
        border-color: #c5c6c6;
        float:right;
    }
    .form-check {
        padding:10px;
        border:1px solid #c5c6c6
    }
    .form-row {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

}
.clearfix {
    clear: both;
}
#create_1, #create_2, #create_3, #create_4,#create_5,#create_6,#create_7,#create_8,#create_9,#create_10,#create_11,#create_12 {
    h6 {
        font-weight: bold;
    }
}
#create_1 {
    input[type=radio]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
        position: absolute;
        top:-7px;
        right:40px;
    }
    h6 {
        font-weight:bold;
    }
    h6.center {
        color:#c5c6c6;

    }
    .form-check-label {
        width: 100%;
        h6 {
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 15px;
            font-weight: normal;
            font-size:0.9rem;
            color:#c5c6c6;
        }
    }
    .form-check-inline {
        padding:20px 0px 0px 0px;
    }
    .box {
        background:#c5c6c6;
        padding:20px;
    }
    svg {
        fill: none;
        stroke:#fff;
        stroke-width:4;
        stroke-miterlimit:10;
        stroke-linejoin:round;
    }
    .active {
        border-color: #a5007d;
        .box {
            background-color: #a5007d;
        }
        svg {
            fill:#b73397;
        }
        svg.checked {
            fill: #ffffff;
        }
        h6 {
            color: #a5007d;
        }
    }
}
#create_5,#create_6,#create_8,#create_11 {
    .form-check-inline {
        width: 200px;
    }
}
#create_7 {
    h6 {
        font-weight:bold;
    }
    input[type=radio]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
        position: absolute;
        top:-7px;
        right:40px;
    }
    .form-check-label {
        width: 100%;
    }
    .form-check-inline {
        padding:0px 0px 0px 0px;
        margin-bottom: 20px;
    }
    .box {
        padding:10px;
        min-height: 100px;
        align-items: center;
        display: flex;
    }
    svg{
        fill:#ffffff;
    }
    .active {
        border-color: #a5007d;
        svg {
            fill:#a5007d;
        }
    }
}
#create_9 {
    h6 {
        font-weight:bold;
    }
    /* Hide the browser's default checkbox */
    .industry_check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: -10px;
        right: 20px;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 0% !important;
        border:1px solid #c5c6c6;
    }

    /* On mouse-over, add a grey background color */
    .industry_check:hover input ~ .checkmark {
        background-color: #a5007d;
    }

    /* When the checkbox is checked, add a blue background */
    .industry_check input:checked ~ .checkmark {
        background-color: #a5007d;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .industry_check input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .industry_check .checkmark:after {
        left: 8px;
        top: 3px;
        width: 9px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .form-check-label {
        width: 100%;
        h6 {
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 15px;
            font-weight:normal;
        }
    }
    .form-check-inline {
        padding:20px 0px 0px 0px;
        width:200px;
    }
    .box {
        background:#c5c6c6;
        padding:40px;
    }
    svg{
        fill:#ffffff;
    }
    .active {
        border-color: #a5007d;
        .box {
            background-color: #a5007d;
        }
    }
}
#create_10 {
    input[type=radio]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
        position: absolute;
        top:-7px;
        right:40px;
    }
    h6 {
        font-weight:bold;
    }
    .form-check-label {
        width: 100%;
        h6 {
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 15px;
            font-weight: normal;
        }
    }
    .form-check-inline {
        padding:20px 0px 0px 0px;
        width:200px;
    }
    .box {
        background:#c5c6c6;
        padding:40px;
    }
    svg {
        fill: #d1d1d1;
        width: 35px;
    }
    svg.checked {
        fill:#ffffff;
    }
    .active {
        border-color: #a5007d;
        .box {
            background-color: #a5007d;
        }
        svg {
            fill:#b73397;
        }
        svg.checked {
            fill: #ffffff;
        }
    }
}
#create_14 {
    h6 {
        font-weight:bold;
    }
    /* layout.css Style */
    .upload-drop-zone {
        height: 250px;
        border-width: 2px;
        margin-bottom: 20px;
        margin-top:40px;
    }

    /* skin.css Style*/
    .upload-drop-zone {
        color: #ccc;
        border-style: dashed;
        border-color: #ccc;
        text-align: center
    }
    .upload-drop-zone.drop {
        color: #222;
        border-color: #222;
    }
    svg {
        width:200px;
        fill:#d9dada;
    }
    input[type=file] {
        border: none;
    }
}
#filter {
    .filter {
        text-transform: uppercase;
        color: #82be00;
        display: flex;
        align-items: center;
    }
}
#sort_by {
    position: absolute;
    right:10px;
    display: flex;
    input {
        margin-bottom:3px;
    }
}
.table th, .table td {border:none;padding:0.5rem;font-weight: normal;}
button#sidebarCollapse {
    background-color: #55555a;
    color:#ffffff;
    margin-left: -15px;
    border-radius: 0px;
    height:44px;
    width:200px;
    float:left;
    text-transform: uppercase;
    text-align:left;
    padding-left:20px;
}
.navbar.navigation {padding:0px; padding-right:15px;}
img.vectors {width:30px; vertical-align: middle;margin-right:5px;}
.material-icons {font-size:17px !important;margin-right:5px;}
.nav-pills {
    svg {
        width:35px;
        fill: #55555a;
    }
    .nav-link {
        border-radius: 0px;
        color:#55555a;
    }
    #portfolio {
        &.nav-item.active {
            svg {
                fill: #fff;
            }
            a {
                color: #fff;
            }
            background-color: #82be00;
        }
    }
    #projects {
        &.nav-item.active {
            svg {
                fill: #fff;
            }
            a {
                color: #fff;
            }
            background-color: #00afd7;
        }
    }
    #items {
        &.nav-item.active{
            svg {
                fill: #fff;
            }
            a {
                color: #fff;
            }
            background-color: #a5007d;
        }
    }
}
#item, #item_upload {
    padding-top:15px;
}
.middle {vertical-align: super;}
span.middle {padding:10px;}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px;
}
.main_text h6 {color:#959595;margin-bottom: 15px;}

.item_icon {
    width:20px;
    margin:8px;
    &.service {
        width:40px;
        svg {
            width:30px;
            fill:none;stroke:#6f6f6e;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
        }
        &.active {
            svg {
                fill:none;stroke:#82BE00;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10
            }
        }
    }
    &.industry {
        svg {
            width:30px;
            fill:#6f6f6e;
        }
        &.active {
            svg {
                fill: #82BE00;
            }
        }
    }
    &.product {
        width:40px;
        svg {
            width:30px;
            fill:none;stroke:#6f6f6e;stroke-width:4;stroke-miterlimit:10;
        }
        &.active {
            svg {
                fill: none;
                stroke: #82BE00;
                stroke-width: 4;
                stroke-miterlimit: 10;
            }
        }
    }
    &.active {
        svg {
            fill:#82BE00;
        }
    }
}
#item_text {
    padding-right:40px;
}
.item_icon.logo {
    height: 20px;
    width:100%;
    margin-left:0px;
    margin-bottom:5px;
}
.itemmenu .item_icon {
  width:40px;
  padding:8px;
  border:1px solid #c1c1c1;
}
.item_bottom {
    text-align: center;
    padding:0px;
    .figure-caption, .item_bottom small {
        text-transform: uppercase;
        font-size: 0.5rem;
        color: #6f6f6e;
    }
    h6 {
        font-size: 0.7rem;
        text-transform: uppercase;
        color: #a3cf44;
        margin-top: 11px;
        margin-bottom: 8px;
    }
}
button.project span{font-size:0.8rem;}
.item_bottom_inner {
    border:1px solid #c1c1c1;
    height:100%;
    margin: 0px 15px;
    padding-top:5px;
    &.first {margin-left: 0px;}
    &.last {margin-right:0px;}
    .figure {margin:8px;}
}
hr.item {
    border-bottom: 1px solid #ececed;
    width:100%;
}
.btn.green {
    color: #ffffff;
    background:#82be00;
    padding:10px;
    width:100%;
}
#sidebar ul {padding:0 10px;}
.top_breadcrumb {
    margin-bottom:0px;
    nav {
        border-radius: 0px;
        border-bottom: 1px solid #ececed;
    }
}
.breadcrumb {background:none;}
ol.breadcrumb {
    align-items: center;
    font-size:0.7rem;
    margin:0px;
    height:44px;
    a.svg {
        display: flex;
    }
    .vectors {
        width:20px;
    }
    svg {
        width:20px;
    }
}
#sidebarCollapse {
    svg {
        width:20px;
    }
}
#delete_filters {
    width:120px;
    float: left;
 }
.element {
    border: 1px solid #ececed;
    border-radius: 5px;
    padding: 2px 5px;
    i {
        margin-left:15px;
        font-style: normal;
    }
}
span.element:hover {
    background: #ececed;
    cursor: url(../images/cursor.svg), auto;

}
.breadcrumb-item + .breadcrumb-item::before {content:">";}
.modal-title {width:100%;}
.modal-footer, .modal-sub-footer {
    border:none;
    justif-content:right;
    padding-left:3rem;
    padding-right:3rem;
    display: flex;
    justify-content: flex-end;
}
.modal-sub-footer {

}
.modal_button {
    border:none;
    text-transform: uppercase;
}
.project {
    .modal-body {
        label {
            color: #00afd7;
        }
    }
    .modal-footer {
        .btn-outline-primary.modal_button {
            color: #00afd7;
        }
        .btn-outline-primary:hover {
                color: #ffffff;
                background-color: #00afd7;
        }
    }
}
.modal-backdrop {

}
li.breadcrumb-back {
    margin-right:20px;
    color: #82be00;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators {
    width: 100%;
    padding: 10px;
    margin: 0;
    bottom:0px;
    background: rgba(0,0,0,0.6);
}
.carousel-control-prev {
    justify-content: left;
}
.carousel-control-next{
    justify-content: right;
}
.carousel-controls-left, .carousel-controls-right {
    background: rgba(255,255,255,0.5);
    padding:15px;
    width:50px;
    height:50px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.modal.modal-right .modal-dialog {
    margin: auto;
    width: 400px;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.modal-right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.modal-right .modal-body {
    padding: 15px 15px 15px;
}

/*Right*/
.modal.modal-right.fade .modal-dialog {
    right: -400px;
    top: 163px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.modal-right.fade.in .modal-dialog {
    right: 0;
}
.modal-backdrop {
    background: #fff;
}
.item {
    .modal-body {
        label {
            color: #82be00;
        }

            text-align:left;

        .form-control {
            border: 1px solid #ececed;
        }
        .form-group select{
            height:300px;
        }
    }
    .modal-footer, .modal-sub-footer {
        .btn-outline-primary.modal_button {
            color: #82be00;
        }
        .btn-outline-primary:hover {
            color: #ffffff;
            background-color: #82be00;
        }
    }
}
.modal-body {
    text-align: center;
    padding:3rem;
    padding-bottom:0px;
    .form-group {
        text-align: left;
    }
    .form-control {
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0px;
    }
    h4 {
        margin-bottom: 1rem;
    }
}

button i, button span {vertical-align: middle;}
.card-deck {
    clear:both;
}
.item_icon_button {
    width:15px;
    margin:4px;
}
.card-deck .card {
    margin:15px 0px;
}
.card-title {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}
.card {
    border:1px solid #c1c1c1;
    margin-bottom: 30px;
    box-shadow: 0px 2px #d6d6d6;
}
.card-body:hover,.col.center:hover {
    background:#ececed;
    cursor: url(../images/cursor.svg), auto;
}
.center {text-align: center;}
p.card-title {
    text-align:center;
    min-height:35px;
    font-size:1rem;
    font-weight:bold;
}
.card-body {
    overflow:hidden;
    text-align: center;
    small {
        color: #9c9d9d;
    }
    img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    img:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.card {
    overflow:hidden;
    img.card-img-top {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    img.card-img-top:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

img.card_footer_icons {width:25px;}
.card-footer {
    background:none;
    border-top:1px solid #ececed;
    padding:0px;
    .row{  margin:0px; }
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #55555a;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#portfolio .hvr-underline-from-center:before {
    background: #82be00;
}
#projects .hvr-underline-from-center:before {
    background: #00afd7;
}
#items .hvr-underline-from-center:before {
    background: #a5007d;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* topbar */
.topbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
.topmenu {
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    height: 50px;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#menubar {
    li.nav-item {
        min-width: 200px;
        text-align: center;
    }
    .navbar-text {
        padding:0px;
    }
}
.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    /*margin-bottom: 40px;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-text {
    padding-right:0.5rem;
}
img.profile {
    border-radius: 50%;
    margin: 0 10px;
}
.right {
    float:right;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
nav {
    padding-right:15px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 200px;
    position: absolute;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #55555a;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #55555a;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul.components li.li_component {
    padding-left:15px;
    font-weight:bold;
    label {font-weight:normal;}
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #ffffff;
    background: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
     color: #fff;
     background: #55555a;
 }
#sidebar {
    .form-check {
        padding-left: 0px;
    }
    /* Customize the label (the container) */
    .form-check-label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .form-check-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 20px;
        width: 20px;
        background-color: #919198;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
        border:none;
    }

    /* On mouse-over, add a grey background color */
    .form-check-label:hover input ~ .checkmark {
        background-color: #55555a;
        border:3px solid #82be00;
    }

    /* When the checkbox is checked, add a blue background */
    .form-check-label input:checked ~ .checkmark {
        background-color: #82be00;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .form-check-label input:checked ~ .checkmark:after {
        display: block;
        left: 3px;
        top: 3px;
        width: 14px;
        height: 14px;
        border: solid #c5c6c6;
        border-width: 3px;
    }

    /* Style the checkmark/indicator */
    .form-check-label .checkmark:after {
        left: 3px;
        top: 3px;
        width: 14px;
        height: 14px;
        border: solid #c5c6c6;
        border-width: 3px;
    }
}
a.profile[aria-expanded="true"] {
    color: #fff;
    background: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e313';
    display: block;
    position: absolute;
    right: 0px;
    font-family: 'Material Icons';
    font-size: 0.7em;
}
a[aria-expanded="true"]::before {
    content: '\e316';
}
a.profile {padding-right:10px !important;margin-right:20px;}
a.profile[aria-expanded="false"]::before, a.profile[aria-expanded="true"]::before {
    content: '\e313';
    display: block;
    position: absolute;
    right: 10px;
    font-family: 'Material Icons';
    font-size: 0.8em;
}
a.profile[aria-expanded="true"]::before {
    content: '\e316';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#baumdiagramm {
    p.card-title {
        text-transform: uppercase;
        font-weight:normal;
    }
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 200px);
    padding: 0px 15px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    /*top: 0;*/
    right: 0;
    margin-top:15px;
}
#content.active {
    width: 100%;
}
.white {
    background:#ffffff;
    min-height:100vh;
    padding:20px;
    }
.white:hover {background-color:rgba(0,0,0,0.1);cursor: url(../images/cursor.svg), auto;}
#sidebar {
    label:hover, input:hover {cursor: url(../images/cursor.svg), auto;}
}
.headline {
    color: white;
    padding:20px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
h6 {
    font-size:1rem;
}
a.nav-link {
    font-size:1rem;
}
.headline:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(85, 85, 90, 0);
    border-top-color: #55555a;
    border-width: 15px;
    margin-left: -15px;
}

/* Hide the browser's default radio button */
.radio_container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: -10px;
    right: 20px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border:1px solid #c5c6c6;
}

/* On mouse-over, add a grey background color */
.radio_container:hover input ~ .checkmark {
    background-color: #a5007d;
}

/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .checkmark {
    background-color: #a5007d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .checkmark:after {
    left: 8px;
    top: 3px;
    width: 9px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
span.option_name {
    margin-left: 30px;
    font-size:0.8rem;
}
/* Hide the browser's default radio button */
.radio_check input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.radio_check .checkmark {
    position: absolute;
    top: 6px !important;
    left: 20px !important;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border:1px solid #c5c6c6;
}

/* On mouse-over, add a grey background color */
.radio_check:hover input ~ .checkmark {
    background-color: #a5007d;
}

/* When the radio button is checked, add a blue background */
.radio_check input:checked ~ .checkmark {
    background-color: #a5007d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio_check .checkmark:after {
    left: 3px;
    top: 3px;
    width: 17px;
    height: 17px;
    border: solid white;
    border-width: 3px;
    border-radius:50%;
}
/* Hide the browser's default radio button */
.select_check input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.select_check .checkmark {
    position: absolute;
    top: 6px !important;
    left: 20px !important;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 0% !important;
    border:1px solid #c5c6c6;
}

/* On mouse-over, add a grey background color */
.select_check:hover input ~ .checkmark {
    background-color: #a5007d;
}

/* When the radio button is checked, add a blue background */
.select_check input:checked ~ .checkmark {
    background-color: #a5007d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.select_check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.select_check .checkmark:after {
    left: 3px;
    top: 3px;
    width: 18px;
    height: 18px;
    border: solid white;
    border-width: 3px;
    border-radius:0% !important;
}
.col.center {
    padding:10px;
}
.upload_menu {
    padding:2px !important;
}
.last_th {
    padding-bottom: 50px !important;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1200px) {
    img.card_footer_icons {
        width:15px;
    }
    p.card-title {
        font-size:0.7rem;
        font-weight:bold;
    }
    #baumdiagramm {
        p.card-title {
            font-weight: normal;
        }
    }
    .item_bottom {
        .item_icon {
            margin: 3px;
            &.logo {
                margin-left:0px;
            }
        }
    }
    .itemmenu .item_icon {
        width:29px;
    }
    .item_icon.industry svg {width:20px;}
    .item_bottom_inner .figure {margin: 0 0 0.5rem;}
    .item_bottom_inner {
        padding-top:10px;
    }
    .item_bottom h6 {
        font-size: 0.5rem;
    }
    .item_bottom .figure-caption, .item_bottom .item_bottom small {
        font-size: 0.4rem;
    }
    .item_icon.product svg, .item_icon.service svg {
        width:20px;
    }
    .modal.modal-right.fade .modal-dialog {
        right:-300px;
    }
    .item_bottom h6 {margin-top:7px;}
    h6 {
        font-size:0.8rem;
    }
    #baum {
        .col-sm-6:nth-of-type(odd) {
            padding-right:2px;
        }

        .col-sm-6:nth-of-type(even) {
            padding-left:2px;
        }
        .white {padding:20px 10px;}

    }
    #create_7 {
        .box {
            padding:10px;
            min-height: 70px;
            align-items: center;
            display: flex;
        }
        .form-check-inline {
            width:100%;
        }
    }
    #create_9 {
        .form-check-inline {
            width:100%;
        }
    }
    #create_10 {
        .form-check-inline {
            width:100%;
        }
        .box {
            padding:20px;
        }
    }
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


