<!-- TODO: Im besten Fall werden hier die Titel aus des Datenbank gezogen und dynamisch gesetzt, auch multilingual. Die einzelnen Elemente der Kategorien sollen iterieren und dann mit den Bilder und Headlines gesetzt werden-->
<div class="row">
    <div class="col col-sm white">
        <h6 class="headline bg-dark">Catering Solutions</h6>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="images/dummy.jpeg" alt="Card image cap">
                        <p class="card-title center">Special title treatment</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="images/dummy.jpeg" alt="Card image cap">
                        <p class="card-title center">Special title treatment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm white">
        <h6 class="headline bg-dark">Packaged Products</h6>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="images/dummy.jpeg" alt="Card image cap">
                        <p class="card-title center">Special title treatment</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="images/dummy.jpeg" alt="Card image cap">
                        <p class="card-title center">Special title treatment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm white">
        <h6 class="headline bg-dark">Onboard Retail Solutions</h6>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="images/dummy.jpeg" alt="Card image cap">
                        <p class="card-title center">Special title treatment</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="images/dummy.jpeg" alt="Card image cap">
                        <p class="card-title center">Special title treatment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm white">
        <h6 class="headline bg-dark">Equipment Solutions</h6>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="images/dummy.jpeg" alt="Card image cap">
                        <p class="card-title center">Special title treatment</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="images/dummy.jpeg" alt="Card image cap">
                        <p class="card-title center">Special title treatment</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="images/dummy.jpeg" alt="Card image cap">
                        <p class="card-title center">Special title treatment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>