<!-- #TODO: The breadcrumb shows the position on the webpage. Therefore it is dynamically filled. First element is the SVG if visitor is on projects, portfolio or items. Second element is category and third and higher is the position on website, like subcategory and item, or create item page, etc. -->
<div class="top_breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-back"><a href="#">≪ BACK</a></li>
            <li class="breadcrumb-item"><a href="#"><img class="vectors" src="images/projects.svg" width="20"></a></li>
            <li class="breadcrumb-item"><a href="#">Category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Page</li>
        </ol>
    </nav>
</div>