<div class="row">
    <div class="col-lg-4">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="images/dummy.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/dummy.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/dummy.jpeg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-lg-6 main_text">
        <div class="row">
            <div class="col-lg-12">
                <h3>Headline</h3>
                <h6>Subheadline</h6>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 item_bottom">
                <figure class="figure">
                    <img class="item_icon" src="images/product.svg">
                    <figcaption class="figure-caption">Product</figcaption>
                </figure>
                <figure class="figure">
                    <img class="item_icon" src="images/service.svg">
                    <figcaption class="figure-caption">Service</figcaption>
                </figure>
            </div>
            <div class="col-lg-3 item_bottom">
                <figure class="figure">
                    <img class="item_icon" src="images/plane.svg">
                    <figcaption class="figure-caption">&nbsp;</figcaption>
                </figure>
                <figure class="figure">
                    <img class="item_icon" src="images/train.svg">
                    <figcaption class="figure-caption">Industry</figcaption>
                </figure>
                <figure class="figure">
                    <img class="item_icon" src="images/retail.svg">
                    <figcaption class="figure-caption">&nbsp;</figcaption>
                </figure>
            </div>
            <div class="col-lg-3 item_bottom">
                <h6>emerging markets</h6>
                <small>division</small>
            </div>
            <div class="col-lg-3 item_bottom">
                <h6>emerging markets</h6>
                <small>brand</small>
            </div>
        </div>
    </div>
    <div class="col-lg-2 sidebar_left">
        <button type="button" class="btn btn-success btn_lsg wide"><span>Add to Project</span></button>
        <p>This item is part of the following projects:</p>
        <img class="item_icon" src="images/trash.svg"><span>Projektname 1</span>
        <button type="button" class="btn btn-outline-success btn_lsg wide" data-toggle="modal" data-target="#ModalDetails"><span>Details</span></button>
        <button type="button" class="btn btn-outline-success btn_lsg wide" data-toggle="modal" data-target="#ModalAttachments"><span>Attachments</span></button>
        <div class="icons">
                    <img class="item_icon" src="images/download.svg">
                    <img class="item_icon" src="images/trash.svg">
                    <img class="item_icon" src="images/edit.svg">
        </div>
    </div>
</div>

<div class="modal fade" id="ModalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="ModalDetails"><span>Ca</span>tegory</p>
                <div class="box"></div><p>Packaged Products</p>
                <p class="ModalDetails"><span>Su</span>b-category</p>
                <div class="box"></div><p>Sandwiches</p>
                <p class="ModalDetails"><span>Qu</span>ality Level</p>
                <div class="box"></div><p>Quality</p>
                <p class="ModalDetails"><span>Bo</span>m Type</p>
                <div class="box"></div><p>Appetizer</p>
                <p class="ModalDetails"><span>Te</span>mperature</p>
                <div class="box"></div><p>Chilled / fresh, Chilled / MAP</p>
                <p class="ModalDetails"><span>Cu</span>linary Type</p>
                <div class="box"></div><p>Italian</p>
                <p class="ModalDetails"><span>Co</span>untry</p>
                <div class="box"></div><p>Italy</p>
                <p class="ModalDetails"><span>Me</span>al Type</p>
                <div class="box"></div><p>Main Dish</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary modal_button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAttachments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="item_icon" src="images/attachment.svg"><span>filename.png</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary modal_button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>