<!-- #TODO: Elements for the form should come from the database and be populated dynamically. -->
<!-- #TODO: Form has to be activated and customized for multipage form. That's not in Bootstrap, more js / angular.js-->
<!-- #TODO: Left column/table is navigation for form. Each section create 1 to 14 has a link in navigation. Please create multipage form with angular and different sections -->
<div class="row">
    <div class="col-lg-2">
        <table id="upload_table" class="table menu">
            <tbody>
            <tr>
                <th rowspan="6" class="table_header active"><div id="basics"><p>Basics | What</p></div></th>
                <th class="active"><span>What?</span> <img class="check_icon" src="images/check.svg"> <hr></th>
            </tr>
            <tr><th><span>Name it!</span></th></tr>
            <tr><th><span>Describe it!</span></th></tr>
            <tr><th><span>Your number, pls.</span></th></tr>
            <tr><th><span>Sort it!</span></th></tr>
            <tr><th class="last_th"><span>One more time!</span></th></tr>
            <tr>
                <th rowspan="3" class="table_header"><div id="who"><p>Who | Where</p></div></th>
                <th><span>Whom's is it?</span></th>
            </tr>
            <tr><th><span>Where?</span></th></tr>
            <tr><th class="last_th"><span>Which Industry?</span></th></tr>
            <tr>
                <th rowspan="5" class="table_header"><div id="details"><p>Details</p></div></th>
                <th><span>Good or great?</span></th>
            </tr>
            <tr><th><span>Style?</span></th></tr>
            <tr><th><span>BOM!</span></th></tr>
            <tr><th><span>What 2?</span></th></tr>
            <tr><th class="last_th"><span>Attachments</span></th></tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-8 create_form">
        <div id="create_1" class="clearfix">
            <h6>Type:</h6>
            <p>What are you showing us - product or service?</p>
            <form>
                <div class="form-row">
                    <div class="col-lg-4">
                        <!-- #TODO: Active class has to change by selection with js -->
                        <div class="form-check form-check-inline active">
                            <label class="form-check-label radio_container" for="inlineRadiotype1">
                                <h6>Product</h6>
                                <div class="box">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="images/product.svg#Ebene_1"></use>
                                    </svg>
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadiotype1" value="option1">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_container" for="inlineRadiotype2">
                                <h6>Service</h6>
                                <div class="box">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="images/service.svg#Ebene_1"></use>
                                    </svg>
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadiotype2" value="option2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form first"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_2" class="clearfix">
            <h6>Name:</h6>
            <p>What is you product / service called?</p>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="InputName" aria-describedby="NameHelp" placeholder="Please choose a short yet descriptive name.">
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_3" class="clearfix">
            <h6>Description:</h6>
            <p>Tell us your story - what is it all about?</p>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="InputDescription" aria-describedby="DescriptionHelp" placeholder="Please write your description.">
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_4" class="clearfix">
            <h6>Unique Identifier:</h6>
            <p>Please insert the corresponding system number (e.g. SAP, cBase), if applicable.</p>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="InputUI" aria-describedby="UIHelp" placeholder="Type in the corresponding number.">
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_5" class="clearfix">
            <h6>Category:</h6>
            <p>Which category does your product/service belong to?</p>
            <form>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_check" for="inlineRadio1">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <span class="checkmark"></span>
                                <span class="option_name">Tray Menu</span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_6" class="clearfix">
            <h6>Sub-Category:</h6>
            <p>In which sub-category does it fit in?</p>
            <form>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_check" for="inlineRadio01">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio01" value="option1">
                                <span class="checkmark"></span>
                                <span class="option_name">Dishes</span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_7" class="clearfix">
            <h6>Brand</h6>
            <p>Which brand offers this product/service?</p>
            <form> <!-- #TODO: Icons have to be included as svg. -->
                <div class="form-row">
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline active">
                            <label class="form-check-label radio_container" for="inlineCheckboxBrand1">
                                <div class="box">
                                    <img src="images/skychefs.png"  class="img-fluid">
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineCheckboxBrand1" value="option1">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_container" for="inlineCheckboxBrand2">
                                <div class="box">
                                    <img src="images/Evertaste_Logo_2018_color_web_RGB.png"  class="img-fluid">
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineCheckboxBrand2" value="option2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_container" for="inlineCheckboxBrand3">
                                <div class="box">
                                    <img src="images/rim.svg"  class="img-fluid">
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineCheckboxBrand3" value="option3">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_container" for="inlineCheckboxBrand4">
                                <div class="box">
                                    <img src="images/Ringeltaube.png"  class="img-fluid">
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineCheckboxBrand4" value="option1">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_container" for="inlineCheckboxBrand5">
                                <div class="box">
                                    <img src="images/SkyLogistiX.jpg"  class="img-fluid">
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineCheckboxBrand5" value="option2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_container" for="inlineCheckboxBrand6">
                                <div class="box">
                                    <img src="images/ScisASCWhite.jpg"  class="img-fluid">
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineCheckboxBrand6" value="option3">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_8" class="clearfix">
            <h6>Division:</h6>
            <p>Please select all the regions where this product/service can be offered.</p>
            <form>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label select_check" for="inlineCheckboxDivision1">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheckboxDivision1" value="option1">
                                <span class="checkmark"></span>
                                <span class="option_name">Europe</span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_9" class="clearfix">
            <h6>Industry:</h6>
            <p>Please select one or more industries we could offer this product/service to.</p>
            <form>
                <div class="form-row">
                    <div class="col-lg-4">
                        <!-- #TODO: Active class has to change by selection with js -->
                        <div class="form-check form-check-inline active">
                            <label class="form-check-label industry_check" for="inlineCheckboxIndustry1">
                                <h6>Airline</h6>
                                <div class="box">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="images/plane.svg#Ebene_1"></use>
                                    </svg>
                                </div>
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheckboxIndustry1" value="option1">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label industry_check" for="inlineCheckboxIndustry2">
                                <h6>Train</h6>
                                <div class="box">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="images/train.svg#Ebene_1"></use>
                                    </svg>
                                </div>
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheckboxIndustry2" value="option2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label industry_check" for="inlineCheckboxIndustry3">
                                <h6>Convenience retail</h6>
                                <div class="box">
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="images/retail.svg#Ebene_1"></use>
                                    </svg>
                                </div>
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheckboxIndustry3" value="option3">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_10" class="clearfix">
            <h6>Quality Level:</h6>
            <p>How would you assess the quality level of your product/service (compared to others in the same category)?</p>
            <form>
                <div class="form-row">
                    <div class="col-lg-4">
                        <!-- #TODO: Active class has to change by selection with js -->
                        <div class="form-check form-check-inline active">
                            <label class="form-check-label radio_container" for="inlineRadioQuality1">
                                <h6>Basic</h6>
                                <div class="box">
                                    <svg class="checked" viewBox="0 0 32 32">
                                        <use xlink:href="images/star.svg#Ebene_1"></use>
                                    </svg>
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="images/star.svg#Ebene_1"></use>
                                    </svg>
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="images/star.svg#Ebene_1"></use>
                                    </svg>
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioQuality1" value="option1">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_container" for="inlineRadioQuality2">
                                <h6>Quality</h6>
                                <div class="box">
                                    <svg class="checked" viewBox="0 0 32 32">
                                        <use xlink:href="images/star.svg#Ebene_1"></use>
                                    </svg>
                                    <svg class="checked" viewBox="0 0 32 32">
                                        <use xlink:href="images/star.svg#Ebene_1"></use>
                                    </svg>
                                    <svg viewBox="0 0 32 32">
                                        <use xlink:href="images/star.svg#Ebene_1"></use>
                                    </svg>
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioQuality2" value="option2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label radio_container" for="inlineRadioQuality3">
                                <h6>Premium</h6>
                                <div class="box">
                                    <svg class="checked" viewBox="0 0 32 32">
                                        <use xlink:href="images/star.svg#Ebene_1"></use>
                                    </svg>
                                    <svg class="checked" viewBox="0 0 32 32">
                                        <use xlink:href="images/star.svg#Ebene_1"></use>
                                    </svg>
                                    <svg class="checked" viewBox="0 0 32 32">
                                        <use xlink:href="images/star.svg#Ebene_1"></use>
                                    </svg>
                                </div>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioQuality3" value="option3">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_11" class="clearfix">
            <h6>Culinary Type:</h6>
            <p>Which culinary does your product reflect?</p>
            <form>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label select_check" for="inlineCheckboxCulinary1">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheckboxCulinary1" value="option1">
                                <span class="checkmark"></span>
                                <span class="option_name">Italian</span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>
        <div id="create_14" class="clearfix">
            <h6>Attachments:</h6>
            <p>Please upload at least one picture that displays or illustrates your product/service.<br>
                You may also upload a video or PDF file for further explanation.</p>
            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="file" name="files[]" id="js-upload-files" multiple>
                    </div>
                    <button type="submit" class="btn btn-outline-form btn_lsg" id="js-upload-submit">Upload files</button>
                </div>
            </form>
            <div class="upload-drop-zone" id="drop-zone">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="images/upload.svg#Ebene_1"></use>
                </svg>
                <br>Just drag and drop files here
            </div>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Previous</span></button>
            <button type="button" class="btn btn-outline-form btn_lsg form"><span>Next</span></button>
        </div>

    </div>
</div>