<!-- #TODO: Background of active items change. Please refer to design template. Colors are green, blue and purple.-->
    <ul class="nav nav-pills navbar-expand-lg">
        <li class="nav-item">
            <a class="nav-link active" href="#"><img class="vectors" src="images/portfolio.svg" width="20">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hvr-underline-from-center" href="#"><img class="vectors" src="images/projects.svg" width="20">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hvr-underline-from-center" href="#"><img class="vectors" src="images/items.svg" width="20">Items</a>
        </li>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div >
            <button type="button" class="btn btn-secondary btn-sm"><i class="material-icons">add_to_photos</i><span>New Item</span></button>
        </div>
    </ul>