<!-- TODO: The sidebar holds the filters. We set up select and checkboxes. The filters have to be filled from the database. -->
<nav id="sidebar">
    <ul class="list-unstyled components">
        <li class="li_component">
            <a href="#CheckboxSubmenu" data-toggle="collapse" aria-expanded="false">Product / Service</a>
            <ul class="collapse list-unstyled" id="CheckboxSubmenu">
                <li>
                    <div class="form-check">
                        <label class="form-check-label" for="defaultCheck1">
                            Product
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="defaultCheck2">
                            Service
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>